:root {
  /* CSS HSL */
  --charcoal: hsla(197, 37%, 24%, 1);
  --persian-green: hsla(173, 58%, 39%, 1);
  --orange-yellow-crayola: hsla(43, 74%, 66%, 1);
  --sandy-brown: hsla(27, 87%, 67%, 1);
  --burnt-sienna: hsla(12, 76%, 61%, 1);
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
}
