:root {
  /* CSS HSL */
  --charcoal: hsla(197, 37%, 24%, 1);
  --persian-green: rgb(0, 164, 148);
  --orange-yellow-crayola: hsla(43, 74%, 66%, 1);
  --orange-yellow-crayola-lite: rgb(255, 240, 203);
  --sandy-brown: hsla(27, 87%, 67%, 1);
  --sandy-brown-lite: rgb(253, 229, 209);
  --burnt-sienna: hsla(12, 76%, 61%, 1);
  --burnt-sienna-lite: rgb(247, 247, 247);
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
